<!--[formGroup] directive to bind view template to the form group model(in our case binding below form to employeeForm of type FormGroup declared in component.ts file).
Similary, using formControlName attribute to bind input control(eg. fullName) to its associated fullName instance of type FormControl declared in component.ts file, but
here we are binding to just string name.

Difference between formControlName vs [formControlName] is that in first one, formControlName was declared in FormGroup in component(which is our case), 
in second one is what is was declared as independent FormControl in component.

(ngSubmit) to bind method to handle submit action

Note: With brackets we bind variable, which is declared in our component. Without brackets we bind value of variable.
-->
<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Employee</h3>
        </div>
        <div class="card-block mt-3">
            <div class="form-group row">
                <label class="col-sm-2 control-label ml-3" for="fullName">Full Name</label>
                <div class="col-sm-4">
                    <!--
                        1. Dynalically adding bootstrap class "is-invalid" using "[ngClass]" directive, to show red outline to input box, on condition that the textbox has been touched and left one time
                        and there is validation error
                        2. "invalid-feedback" bootstrap class: Showing error message in case of validation error by wrapping the message in this class
                        3. *ngIf - checking condition to show different message on different condition
                        4. (blur) - binding to lose focus event in parantheses ie. blur event
                    -->
                    <input class="form-control" id="fullName" formControlName="fullName" type="text"
                        [ngClass]="{'is-invalid': formErrors.fullName}" (blur)="logValidationErrors()">
                    <div class="invalid-feedback" *ngIf="formErrors.fullName">
                        <span>{{ formErrors.fullName }}</span>
                    </div>
                    <!-- Binding component property through interpolation -->
                    <!-- <label>{{ fullNameLength }}</label> -->
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label ml-3">Contact Preference</label>
                <!-- Adding radio buttons for Proficiency field-->
                <div class="col-md-4">
                    <label class="radio-inline px-3">
                        <input class="form-control" formControlName="contactPreference" type="radio" value="email">
                        Email
                    </label>
                    <label class="radio-inline px-3">
                        <input class="form-control" formControlName="contactPreference" type="radio" value="phone">
                        Phone
                    </label>
                </div>
            </div>

            <div formGroupName="emailGroup">
                <div class="form-group row">
                    <label class="col-sm-2 control-label ml-3" for="email">Email</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="email" formControlName="email" type="text"
                            [ngClass]="{'is-invalid': formErrors.email }" (blur)="logValidationErrors()">
                        <div class="invalid-feedback" *ngIf="formErrors.email">
                            <span>{{ formErrors.email }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 control-label ml-3" for="confirmEmail">Confirm Email</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="confirmEmail" formControlName="confirmEmail" type="text"
                            [ngClass]="{'is-invalid': formErrors.confirmEmail || formErrors.emailGroup}"
                            (blur)="logValidationErrors()">
                        <div class="invalid-feedback" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
                            <span>{{ formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label ml-3" for="phone">Phone</label>
                <div class="col-sm-4">
                    <input class="form-control" id="phone" formControlName="phone" type="text"
                        [ngClass]="{'is-invalid': formErrors.phone}" (blur)="logValidationErrors()">
                    <div class="invalid-feedback" *ngIf="formErrors.phone">
                        <span>{{ formErrors.phone }}</span>
                    </div>
                </div>
            </div>

            <div class="card bg-light">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4 mt-3">
                        <button type="button" class="btn btn-primary" (click)="addSkillButtonClick()"
                            [disabled]="employeeForm.get('skills')?.invalid">
                            Add Skill
                        </button>
                    </div>
                </div>
                <div formArrayName="skills" *ngFor="let skill of skills.controls; let i=index;">
                    <!--horizontal line as separator when we have more than one skill group-->
                    <hr *ngIf="i>0">
                    <!--formGroupName we are binding to a variable so using square brackets-->
                    <div [formGroupName]="i">

                        <div class="form-group row">
                            <!-- [for]="'skillName' + i" --property binding doesn't work with element which doesn't have corresponding dom property,
                                so we have to use attribute binding by prefixing "attr" in their name so, [attr.for]="'skillName' + i" -->
                            <label class="col-sm-2 control-label ml-3" [attr.for]="'skillName' + i">Skill</label>
                            <div class="col-sm-4">
                                <!-- [id]="'skillName' + i" --property binding, only works on element which has corresponding dom property, 
                                    other way using interpolation id={{'skillName' + i}}  
                                    We will use loop variable skill to get reference to current control as in skill.get('skillName')?.invalid
                                -->
                                <input class="form-control" [id]="'skillName' + i" formControlName="skillName"
                                    type="text"
                                    [ngClass]="{'is-invalid': skill.get('skillName')?.invalid && skill.get('skillName')?.touched}">
                                <div class="invalid-feedback"
                                    *ngIf="skill.get('skillName')?.errors?.required && skill.get('skillName')?.touched">
                                    <span>Skill Name is required</span>
                                </div>
                            </div>
                            <div class="col-sm-5" *ngIf="skills.length > 1">
                                <button type="button" class="btn btn-primary btn-danger btn-sm float-right"
                                    title="Delete Skill" (click)="removeSkillButtonClick(i)">
                                    <fa-icon [icon]="faWindowClose"></fa-icon>
                                </button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label ml-3" [attr.for]="'experienceInYears' + i">Experience
                                (In
                                Years)</label>
                            <div class="col-sm-4 px-3">
                                <input class="form-control" [id]="'experienceInYears'+ i"
                                    formControlName="experienceInYears" type="text"
                                    [ngClass]="{'is-invalid': skill.get('experienceInYears')?.invalid && skill.get('experienceInYears')?.touched}">
                                <div class="invalid-feedback"
                                    *ngIf="skill.get('experienceInYears')?.errors?.required && skill.get('experienceInYears')?.touched">
                                    <span>Experience (in years) is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row"
                            [ngClass]="{'is-invalid': skill.get('proficiency')?.invalid && skill.get('proficiency')?.touched}">
                            <label class="col-md-2 control-label ml-3">Proficiency</label>
                            <!-- Adding radio buttons for Proficiency field-->
                            <div class="col-md-6">
                                <label class="radio-inline px-3">
                                    <input class="form-control" formControlName="proficiency" type="radio"
                                        value="beginner">
                                    Beginner
                                </label>
                                <label class="radio-inline px-3">
                                    <input class="form-control" formControlName="proficiency" type="radio"
                                        value="intermediate">
                                    Intermediate
                                </label>
                                <label class="radio-inline px-3">
                                    <input class="form-control" formControlName="proficiency" type="radio"
                                        value="advanced">
                                    Advanced
                                </label>
                                <div class="invalid-feedback"
                                    *ngIf="skill.get('proficiency')?.errors?.required && skill.get('proficiency')?.touched">
                                    <span>Proficiency is required</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="card-footer">
            <button class="btn btn-primary mr-3" type="submit" [disabled]="employeeForm.invalid">Save</button>
            <button class="btn btn-primary" type="button" (click)="onLoadDataClick()">Load Data</button>
        </div>
    </div>
</form>

<br />
<br />


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="col">FormGroup</th>
            <th class="col">FormControl(fullName)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- employeeForm.value | json passing the value through a json pipe to display properly otherwise it would just display [object Object] -->
            <td>
                touched: {{ employeeForm.touched }} <br />
                dirty: {{ employeeForm.dirty }} <br />
                valid: {{ employeeForm.valid }} <br />
                value: {{ employeeForm.value | json }}
            </td>
            <td>
                touched: {{ employeeForm.controls.fullName.touched }} <br />
                dirty: {{ employeeForm.controls.fullName.dirty }} <br />
                valid: {{ employeeForm.controls.fullName.valid }} <br />
                value: {{ employeeForm.controls.fullName.value | json }} <br />
                error: {{ employeeForm.controls.fullName.errors | json }}
            </td>
        </tr>
    </tbody>
</table>